<!DOCTYPE html>
<html>

<head>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/listauser.css">
</head>

<body class="fondo">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="../images/logo-dark-128x32(1).png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./product">Añadir producto</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Accesorios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./vistas">Cascos</a>
                        <a class="dropdown-item" href="./vistas">Protectores</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="./vistas">Guantes</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./users" tabindex="-1" aria-disabled="true">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./listauser">Usuarios</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <a href="#" class="btn btn-default btn-lg active" role="button">Clientes</a>
            </form>
        </div>
    </nav>


    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">nombre</th>
                <th scope="col">apellido</th>
                <th scope="col">email</th>
                <th scope="col">contraseña</th>
                <th scope="col">Administrador</th>
                <th scope="col">eliminar</th>
                <th scope="col">editar</th>

            </tr>
        </thead>
        <tbody>
            <% data.forEach(data =>{ %>

            <tr>



                <td scope="row"> <%=  data.id_user  %></td>
                <td><%=  data.name  %></td>
                <td><%=  data.lastname  %></td>
                <td> <%=  data.email %></td>
                <td> <%=  data.pass  %></td>
                <td> <%=  data.is_Admin %></td>
                <td><a href="/listauser/delete/<%= data.id_user %>">Eliminar</a></td>
                <td><a href="/listauser/edit/<%= data.id_user %>">Editar</a></td>
                <% }); %>


            </tr>
        </tbody>
    </table>




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>